<div class="calculator-container">
  <h1>Tax Calculator</h1>
  <%= render 'calculate_tax_form', supported_currencies: @supported_currencies %>
  <%= render 'calculation_result', calculation_result: nil %>
</div>
